<header class="header">
  <img class="header-logo" src="assets/img/icons/logo.png" alt="Imobizy" routerLink="./" fragment="bem-vindo">
  <ul class="header-menu">
    <li class="header-menu-item"><a routerLink="./" fragment="bem-vindo">Início</a></li>
    <li class="header-menu-item"><a routerLink="./" fragment="praticidade">Sobre</a></li>
    <li class="header-menu-item"><a routerLink="./" fragment="planos">Planos</a></li>
    <li class="header-menu-item"><a routerLink="./" fragment="contato">Contato</a></li>
    <li class="header-menu-item"><a routerLink="./">Entrar</a></li>
  </ul>
</header>
