@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap')

font1 = 'Montserrat', sans-serif

theme-color = #f9f9f9
spotlight-color = #db2121
spotlight-dark-color = #790e09
text-color1 = #111
text-color2 = #f0f0f0

theme-gradient(start = spotlight-color, end = spotlight-dark-color)
  background -webkit-linear-gradient(start, end)
  -webkit-background-clip text
  -webkit-text-fill-color transparent