@import "app/resources.styl"
@import "app/vars.styl"

*
  padding 0
  &:hover
  &:focus
    outline 0

html
  scroll-behavior smooth

html
body
.main
  width 100%
  height 100%
  margin 0

.main
  font-family font1
  font-size 62.5%
  color text-color1
  selection-color(inherit, spotlight-color)

a
  text-decoration inherit
  color inherit

img
  select(none)

.theme-gradient-text
  theme-gradient()
